*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --myFont: 'Source Serif 4', sans-serif;
    --myColor: rgba(51,107,254,0.7);
    scroll-behavior: smooth;
}
body
{
    width: 100%;
    min-height: 100vh;
    font-family: var(--myFont);
    overflow-y: scroll;
    overflow-x: hidden;
}
/*delete*/
div[class ^= 'col']
{
    height: 24rem;
}
/*Loader*/
.loader
{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.loader .circ
{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loader .circ::before
{
    content: '';
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    animation: loaderAnim 1s linear infinite;
}
@keyframes loaderAnim 
{
      0%{ 
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
      }    
      50%{ 
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
      } 
      100%{ 
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
      } 
}
.loader .circ span
{
    font-family: var(--myFont);
    color: aliceblue;
    animation: forLoaderText 3s linear infinite;
}
@keyframes forLoaderText 
{
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}    
}
/* / Loader*/
/*menu*/
.menu
{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 40%;
    right: 5%;
    z-index: 10;
    font-size: 3rem;
    color: #336BFE;
    filter: drop-shadow(0 0 7px #336BFE) drop-shadow(0 0 12px #336BFE);
}
.menuIcons
{
    width: 0%;
    height: 100%;
    background-color: #336BFE;
    transition: width 1s linear;
    font-family: var(--myFont);
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 100%;
}
.menu .menuIcons ul 
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    visibility: hidden;
    transition: all 0.5s;
    overflow: hidden;
}
.menu .menuIcons ul li
{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu .menuIcons ul li a
{
    color: white;
    font-family: var(--myFont);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.menu .menuIcons ul li a:hover + .iosIcons
{
    filter: drop-shadow(0 0 7px #18b201) drop-shadow(0 0 12px #18b201);
}
.menu .menuIcons ul li .iosIcons
{
    margin-left: 1rem;
    font-size: 2rem;
}
.menuIcons.menuActive
{
    width: 82%;
}
.menu .myMenu
{
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.myMenu:hover
{
    color: #336BFE;
    filter: drop-shadow(0 0 7px #18b201) drop-shadow(0 0 12px #18b201);
}
/* / menu*/
/* header section*/
#mainSection
{
    width: 100%;
    height: 100vh;
}
/* / header section*/
/*header*/
header
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
    transition: 0.3s ease-in-out;
}
header .headerIcons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header .headerIcons .icon i
{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    color: #336BFE;
}
header .headerIcons .icon p
{
    font-family: var(--myFont);
}
header .headerIcons .icon i:hover
{
    cursor: pointer;
    color: #336BFE;
    filter: drop-shadow(0 0 7px #336BFE);
}
header.active
{
    background-color: var(--myColor);
    color: white;
}
header.active .icon i
{
    color: white;
}
/* / header*/
/*main*/
main
{
    width: 100%;
    height: 80%;
    background-image: url('/pictures/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20%;
    background-attachment: fixed;
}
.mainBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherBody
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--myFont);
    /* color: var(--myColor); */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px;
    margin-bottom: 7px;
}
#weatherCity
{
    text-transform: uppercase;
}
main .mainBtn button
{
    background-color: var(--myColor);
    padding: 7px 12px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
    font-family: var(--myFont);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .mainBtn button:hover
{
    box-shadow: 0 0 1rem #336BFE;
}
main .mainBtn button:nth-child(2)
{
    margin-left: 2rem;
}
main .mainBtn button .dayNight
{
    font-size: 1.5rem;
    margin-right: 0.7rem;
    color: orange;
}
/* / main*/
/*First section*/
#cardSection
{
    width: 100%;
}
#cardSection .container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#cardSection .container .card
{
    width: 250px;
    height: 300px;
    position: relative;
    padding: 7px; 
    transition: 0.7s;
    top: -50px;
    background-color: rgba(51,107,254,0.7);
    color: white;
    z-index: 2;
}
#cardSection .container .card:hover
{
    top: -70px;
}
#cardSection .container .card .cardBox
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 18px 3px;
    border: 1px solid white;
}
#cardSection .container .card .cardBox .cardIcon
{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardSection .container .card .cardBox .cardIcon i
{
    font-size: 3rem;
}
#cardSection .container .card .cardBox .cardText
{
    width: 100%;
    height: 60%;
    font-family: var(--myFont);
    text-align: center;
}
/* / First section*/
/* 4-maktab Section */
#maktabSection
{
    width: 100%;
}
#maktabSection .labelSection
{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--myFont);
}
#maktabSection .row .colCard
{
    height: 100%;
    margin: 0 1rem;
    padding: 7px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    cursor: pointer;
}
#maktabSection .row .colCard .rightCard
{
    height: 100%;
    background-image: url('/pictures/pic2.jpg');
    border-radius: 3px;
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
}
#maktabSection .row .colCard .leftCard
{
    height: 100%;
    background-image: url('/pictures/pic1.jpg');
    border-radius: 3px;
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
}
/* / 4-maktab Section */
/*  4-maktab js carousel section */
#myCarousel
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#myCarousel .myIcons
{
    width: 5rem;
    height: 5rem;
    z-index: 5;
    color: #0456c8;
    filter: drop-shadow(0 0 7px #336BFE) drop-shadow(0 0 12px #336BFE);
    cursor: pointer;
}
#carouselCard
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.carousel_item
{
    width: 30%;
    height: 50vh;
    padding: 7px;
    position: absolute;
    transition: all 1s;
    
}
.carousel_item img
{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
/* / 4-maktab js carousel section */
/* E'lonlar */
.labelSection
{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--myFont);
}
#elon
{
    width: 100%;
}
#elon .elonImg, #elon .elonText
{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
}
#elon .elonImg img
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#elon .elonText .textCard
{
    position: absolute;
    width: 100%;
    background-color: var(--myColor);
    left: -32%;
    top: 12%;
    color: white;
    font-family: var(--myFont);
    font-size: 1rem;
    padding: 7px;
    text-indent: 1rem;
    text-justify: distribute-all-lines;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 1s;
}
#elon .elonText .textCard:hover
{
    color: black;
    cursor: pointer;
}
/* / E'lonlar */
/* footer */
footer
{
    width: 100%;
    background-color: var(--myColor);
    padding: 7px;
    font-family: var(--myFont);
}
footer .footerLeft, footer .footerRight
{
    height: 100%;
}
footer .footerRight #map
{
    width: 100%;
    height: 100%;
}
footer .footerLeft
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}
footer .footerLeft .footerIcons, footer .footerLeft .footerMenu
{
    border-top: 1px solid white;
}
footer .footerLeft .footerIcons a
{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
footer .footerLeft .footerIcons .iosIcons
{
    font-size: 2rem;
}
footer .footerLeft .footerIcons, footer .footerLeft .footerMenu
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .footerLeft .footerIcons div, footer .footerLeft .footerMenu .icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footerLeft .footerMenu i
{
    font-size: 2rem;
}
footer .footerLeft .footerIcons .iosIcons, footer .footerLeft .footerMenu i
{
    transition: all 1s;
    cursor: pointer;
}
footer .footerLeft .footerIcons .iosIcons:hover, footer .footerLeft .footerMenu i:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0 0 7px #336BFE) drop-shadow(0 0 12px #336BFE);
}
/* / footer */